{% extends 'base.html' %}

{% block title %}Home | CleanPulse{% endblock %}

{% block content %}
<div class="hero-box">
    <h1 class="hero-title">💧 CleanPulse</h1>

    <p class="hero-desc">
        CleanPulse adalah platform smart city berbasis data real-time yang menjaga
        kebersihan kota seperti sistem sirkulasi vital, memastikan kota tetap sehat,
        hidup, dan produktif.
    </p>

    <p class="hero-desc">
        Seperti detak jantung yang menjaga kehidupan, CleanPulse memastikan kebersihan
        kota tetap terjaga, sehat, dan produktif untuk semua.
    </p>

    <div class="mt-4 d-flex flex-wrap justify-content-center gap-3">
        <a href="{% url 'add_report' %}" class="btn btn-clean">➕ Laporan</a>
        <a href="{% url 'report_list' %}" class="btn btn-clean">📊 Data</a>
        <a href="/about/" class="btn btn-clean">📘 About</a>
        <a href="/contacts/" class="btn btn-clean">📞 Contact</a>
    </div>
</div>
{% endblock %}